includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/
        - routes/

    # Level 5 catches most logical bugs without being overly strict about types
    level: 5

    excludePaths:
        - vendor/
